<div class="container-fluid">
  <div class="p-3 rounded-4 border border-dark">
    <h2>Student dashboard</h2>
    <p>
        You can optionally swap out active or disabled anchors for <span>, or omit the 
        anchor in the case of the prev/next arrows, to 
        remove click functionality and prevent keyboard focus while retaining intended styles.
    </p><br><br>
    <h3>Lessons available</h3>
    <p>
        Lessons are provided by appropriate teachers specialized in the field.
        You can reach out to our teacher or request for a chat live
    </p>
  </div>
</div>