<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <h2 class="text-center container bg-secondary rounded-2 mt-3 p-3 text-light">Students</h2>
  <%= link_to "<< back home", home_index_path, class: '' %>
  <div class="container text-center">
    <div class="row row-cols-3 gap-3 students">
      <% @students.each do |student| %>
        <%= render student %>
      <% end %>
    </div>
  </div>
</div>